*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

:root {
    --bg-color-1: #222222;
    --bg-color-2: #444444;
    --bg-color-3: #1e90ff;
    --bg-color-4: #89bbec;
    --bg-color-5: #666666;
    --text-color-1: #ffffff;
    --space-sm: 0.3rem;
    --space-md: 0.5rem;
    --space-lg: 1rem;
    --space-xl: 2rem;
}

body {
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
}

form#menu {
    background-color: var(--bg-color-2);
    padding: var(--space-xl);
    border-radius: 1rem;
    box-shadow: 0 0 10px black;
    border: 1px outset var(--bg-color-5);
}

ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    list-style: none;
}
ul > li {
    flex: 1;
    display: flex;
    gap: var(--space-lg);
}
ul > li > *:not(label) {
    flex: 1;
}
ul > li > * {
    padding: var(--space-md);
    border-radius: 0.3rem;
}
ul > li > :is(button, select, input) {
    border: 2px outset var(--bg-color-3);
}
ul > li > button {
    background-color: var(--bg-color-3);
    box-shadow: 0 0 10px var(--bg-color-4) inset;
    font-weight: 400;
    color: var(--text-color-1);
}
ul > li > button:hover {
    opacity: 0.8;
    cursor: pointer;
}
