#grid {
    display: grid;
    grid-auto-flow: row;
}
.cell {
    border: 1px solid var(--bg-color-1);
    background-color: dodgerblue;
    box-shadow: 2px 2px 2px var(--highlight-light) inset, -2px -2px 2px var(--highlight-dark) inset;
    border-radius: var(--space-sm);
    cursor: pointer;
}
.explode {
    background-color: red;
}
