@import url("./grid.css");
@import url("./menu.css");

/* TODO @media screen and (min-width: 1000px) {
    body {
        background-color: red;
    }
} */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

:root {
    font-size: 1vw;
    font-size: 1dvw;
    --bg-color-1: #222222;
    --bg-color-2: #444444;
    --bg-color-3: #1e90ff;
    --bg-color-4: #69a1da;
    --bg-color-5: #666666;
    --bg-color-6: #cccccc;
    --text-color-1: #ffffff;
    --space-xs: 0.1rem;
    --space-sm: 0.3rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
    --text-md: 1rem;
    --text-lg: 2rem;
    --text-xl: 5rem;
    --highlight-dark: rgba(0, 0, 0, 0.5);
    --highlight-light: rgba(255, 255, 255, 0.5);
}

.hidden {
    display: none;
}

body {
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
}

h1 {
    font-size: var(--text-xl);
    margin-bottom: var(--space-xl);
    background-image: linear-gradient(90deg, green, dodgerblue, violet, purple);
    background-clip: text;
    color: transparent;
}
